<div class="container mt-4 w-50">
    <!-- Table -->
    <div class="row">
        <div class="col-10 d-flex justify-content-start">
            <h3>You currently have {{numParked}} cars parked.</h3>
        </div>

        <div class="col-2">
            <label for="filter">Filter</label>
            <select name="filter" id="filter" class="form-select" (change)="onChange($event)" [(ngModel)]="currentFilter">
                <option *ngFor="let filter of filterOptions" [value]=>{{ filter }}</option>
            </select>
        </div>
    </div>

    <table class="table table-striped mt-3" id="table">
        <thead>
            <tr class="table-active">
                <th>Make</th>
                <th>Model</th>
                <th>Client</th>
                <th>Location</th>
                <th>Time</th>
                <th class="text-center">Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let parked of cars">
                <td>{{parked.car.make}}</td>
                <td>{{parked.car.model}}</td>
                <td>{{parked.client}}</td>
                <td>{{parked.location}}</td>
                <td>{{parked.date}}</td>
                <td class="text-center" [ngStyle]="{'background-color': (parked.status == 'REQUESTED') ? '#66ff33' : null }">{{parked.status}}</td>
                <td><button class="btn btn-info" (click)="navigateToInfo(parked._id)">View</button></td>
            </tr>
        </tbody>
    </table>

    <div class="d-flex justify-content-end">
        <a type="button" routerLink="/home/new" class="btn btn-success btn-circle btn-xl">+</a>
    </div>
</div>