<div class="background d-flex justify-content-center">
    <form id="login-form">
        <h3>Welcome to Valet Assistant</h3>
        <div>
            <div>
                <div class="form-group mb-2 has-validation">
                    <label for="lg_username" class="sr-only">Username</label>
                    <input type="text" class="form-control" name="username" placeholder="username" [(ngModel)]="username">
                </div>

                <div class="form-group mb-2">
                    <label for="lg_password" class="sr-only">Password</label>
                    <input type="password" class="form-control" name="password" placeholder="password" [(ngModel)]="password">
                </div>
            </div>

            <button type="submit" (click)="login()" class="btn btn-primary btn-sm">Login</button>

            <p style="color:red" [hidden]="!error">Invalid Log In!</p>
        </div>
    </form>
</div>