<div class="container mt-4 w-50">
    <!-- Table -->
    <h3>Employees in Database</h3>
    <table class="table table-striped mt-3" id="table">
        <thead>
            <tr class="table-active">
                <th>Name</th>
                <th>Username</th>
                <th>Id</th>
                <td></td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td>{{user.name}}</td>
                <td>{{user.username}}</td>
                <td>{{user._id}}</td>
                <td><button *ngIf="!isAdmin(user.name)" class="btn btn-info" (click)="info( user._id )">View</button></td>
            </tr>
        </tbody>
    </table>
    <div class="d-flex justify-content-end">
        <a type="button" routerLink="/admin/new" class="btn btn-success btn-circle btn-xl">+</a>
    </div>
</div>